// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;
        background-color: grey;
        position: relative;
        top: 50px;
        z-index: 10;
        form {
            display: flex;
            .search-field {
                input {
                    height: 30px;
                }
            }
        }
    }
    .main-container {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        z-index: 1;
        // margin-top: 100px;
        .listings-container {
            height: 700px;
            overflow: scroll;
            .listing-container {
                display: flex;
                .image-container {
                    width: 340px;
                    height: 240px;
                    // border: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        border-radius: 10px;
                        width: 300px;
                        height: 200px;
                        object-fit: cover;
                    }
                }
                .listing-info {
                    width: 500px;
                    padding: 20px;
                }
            }
        }
    }
}

.form-container {
    margin: 75px auto;
    width: 300px;
    a {
        text-decoration: none;
    }
    form {
        display: flex;
        margin: 0 auto;     
        flex-direction: column;
        height: 200px;
        .actions {
            input {
                font-size: 12pt;
                background-color: rgb(215, 224, 247);
                border: 2px solid black;
                border-radius: 5px;
                padding: 5px;
            }
            
        }
        .form-field {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
            input {
                margin: 10px 0px;
                border-radius: 5px;
                font-size: 12pt;
            }
            textarea {
                margin: 10px 0px;
                height: 100px;
                border-radius: 5px;
                font-size: 12pt;
            }
        }
    
    }
    
}

.calendar {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px;
    .available {
        background-color: lightcyan;
    }
    .booked {
        background-color: lightseagreen;
    }
}