@import 'listings';
@import 'payments';
@import 'pages';
@import 'bookings';
@import 'devise';

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0px;
}
a {
    text-decoration: none;
}

nav {
    height: 60px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 12;
    box-shadow: 3px 3px 10px -1px rgba(173,173,173,1); 
    .nav-right {
        margin-right: 20px;
    }
    a {
        text-decoration: none;
        margin: 10px;
        color: black;
    }
    a:hover {
        color: #0bbaae;
        transition: 0.5s;
    }
    #nav-logo {
        font-size: 24pt;
        font-family: 'Dancing Script', cursive;
        color: #0bbaae;
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: white;
}

.button {
    padding: 5px;
    font-size: 12pt;
    color: white;
    border-radius: 5px;
    border: none;
}
.blue-button {
    background-color: dodgerblue;
    
}

.edit-button {
    background-color:#0bbaae;
}


.delete-button {
    background-color: #ed515e;
}

.button:hover {
    cursor: pointer;
}

.calendar-container {
    margin-top: 85px;
    background-color: #f0f0f5;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 10px -1px rgba(173,173,173,1);
    .calendar-content {
        margin: 10px;
        .calendar {
            width: 350px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 50px;
            p {
                margin-top: 0px;
            }
            .available {
                background-color: white;
                font-size: 10pt;
                height: 50px;
                padding: 2px;

            }
            .booked {
                background-color: lightseagreen;
                font-size: 10pt;
                height: 50px;
                padding: 2px;
            }
            .partial {
                background-color: lightcyan;
                font-size: 10pt;
                height: 50px;
                padding: 2px;
            }
        }
        .calendar-keys {
            .calendar-key {
                display: flex;
                margin-top: 10px;
                .box {
                    width: 20px;
                    height: 20px;
                }
                #available-key {
                    background-color: white;
                }
                #booked-key {
                    background-color: lightseagreen;
                }
                #partial-key {
                    background-color: lightcyan;
                }
                p {
                    margin: 0px 10px;
                }
            }     
        }

    }
     
}

